body {
  background-color: white;
}

App {
  font-family: arial;

}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

.characters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.character {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  width: 300px;
  height: 150px;
}

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* --- animation stars --- */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* --- animation ends ---  */